* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.box .box1 {
  background-color: #ff0000;
  width: 80%;
  height: 200px;
  margin: 50px auto;
}

.box .bg1 {
  background-color: #ffaaaa;
}

.box .bg2 {
  background-color: #ffbbbb;
}

.box .bg3 {
  background-color: #ffcccc;
}

.box .bg4 {
  background-color: #ffdddd;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#back a .fa-circle-arrow-up {
  font-size: 2rem;
  color: #830000;
}
