* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.box {
  display: flex;
}

.box .box1 {
  background-color: #ff0000;
  width: 200px;
  height: 200px;
}

.box .bg1 {
  background-color: #ffaaaa;
}

.box .bg2 {
  background-color: #ffbbbb;
}

.box .bg3 {
  background-color: #ffcccc;
}

.box .bg4 {
  background-color: #ffdddd;
}

.click {
  padding-top: 100px;
}
