* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
.box {
  display: flex;
  .box1 {
    background-color: #ff0000;
    width: 200px;
    height: 200px;
    // float: left;
  }

  .bg1 {
    background-color: #ffaaaa;
  }

  .bg2 {
    background-color: #ffbbbb;
  }

  .bg3 {
    background-color: #ffcccc;
  }

  .bg4 {
    background-color: #ffdddd;
  }
}

.click {
  padding-top: 100px;
}
